rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'praise234@gmail.com';
    }

    match /candidates/{candidateId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /votes/{uid} {
      allow create: if isSignedIn()
        && request.auth.uid == uid
        && request.resource.data.uid == uid
        && request.resource.data.email == request.auth.token.email
        && request.resource.data.candidate is string
        && request.resource.data.keys().hasOnly(['uid', 'email', 'candidate', 'timestamp'])
        && !exists(/databases/$(database)/documents/votes/$(uid));

      allow read: if isSignedIn();
      allow update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow create: if isSignedIn()
        && request.auth.uid == userId
        && request.resource.data.email == request.auth.token.email;

      allow get, list: if isSignedIn() && (isAdmin() || request.auth.uid == userId);
      allow update: if isSignedIn() && request.auth.uid == userId;
      allow delete: if isAdmin();
    }

    match /events/{eventId} {
      allow create: if isSignedIn() && (
        isAdmin() || (
          request.resource.data.type == 'vote_submitted'
          && request.resource.data.uid == request.auth.uid
          && request.resource.data.candidate is string
          && request.resource.data.keys().hasOnly(['type', 'uid', 'candidate', 'email', 'time'])
        )
      );
      allow read: if isSignedIn() && isAdmin();
      allow update, delete: if isAdmin();
    }

    match /announcements/{id} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
  }
}
